html, body {
		font-size: 16px;

		}

/* Bootstrap customization*/
.nav-pills > li > a, .panel, .form-control {
		border-radius: 0;
		}
.nav.nav-pills > li.active>a {
		background-color: #ffb5ba;
		}
.panel {margin: 0; position: relative;}
/*Custom CSS*/
body {
		background: #ff7e5f;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}
.main {
		margin: 50px auto;
		padding: 0;
		width: 50%;
		box-shadow: 0 0 1px gray;
		background-color: white;
		}
.header {
		background-color: #61bfbe;
		margin: 0;
		padding: 10px 20px;
		color: #fff;
		font-weight: bold;
		font-size: 1.5rem;
		}
.header span {float: right}

input[type='text'] {
		font-size: 1.25rem;
		height: 3.5rem;
		background-color: #fff;
		color: #337ab7;
		border-width: 0 0 1px 0;
		}

/*To do List */
.panel {border: none; border-bottom: 1px solid #eee;}
.panel-body {
		width: 70%;
		display: inline-block;
		}

.todo-feature-open, .todo-features {float: right}
.todo-feature-open {margin-top: 1rem; margin-right: 0.25rem;}
.todo-features {
		display: inline-block;
		width: 25%;
		position: absolute;
		height: 100%;
		padding: 0;
		}

.todo-features  span {
		width: 30%;
		height: 100%;
		display: inline-block;
		padding: 0.75rem 0;
		font-size: 1.25rem;
		text-align: center;
		color: #ccc;
		overflow: visible;
		}
.completed-content {
		color: gray;
		text-decoration: line-through;
		}
.completed {color: green !important}
.stared-content {
		background-color: #ff3f71;
		font-weight: bold;
		}
.stared {color: yellow !important}

@media (max-width: 700px) {
		body, html {font-size: 12px}
		.main {width: 60%}
		}
@media (max-width: 490px) {
		body, html {font-size: 11px;}
		.main {width: 75%}
		}